<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Sandkassa for digital lommebok: Test issuer</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Send bevis til mobilen
        </h1>
        <p class="ds-paragraph">
            No er me i gong med å utferding av bevis, køyr på med mobilen!
        </p>
    </div>

    <p th:text="${error}" class="ds-validation-message" th:if="${error}">
    </p>


    <div class="ds-card" style="max-width: 600px">

        <div id="cross-device-request">
            <img th:src="${'data:image/png;base64,' + issuance.qrCode}" alt="QR kode for bevis" id="qrcode-cross-device"
                 width="100%"/>
        </div>

        <div class="flex-container" style="min-width: unset">
            <a th:href="${issuance.encodedUri}" class="ds-button" type="button" data-variant="primary" style="min-width:75px">
                Opne på mobilen
            </a>
            <a th:href="@{/}" class="ds-button" type="button" data-variant="secondary">
                Tilbake
            </a>
        </div>
    </div>

    <div id="tracing">
        <details class="ds-details" data-variant="default">
            <summary>Request til issuer-server</summary>
            <div>
                <div><span class="ds-label">ENDPOINT: </span><span th:text="${request.endpoint}"></span></div>
                <div><span class="ds-label">TOKEN: </span><span th:text="${request.token}"></span></div>
                <div><span class="ds-label">BODY: </span></div>
                <code th:text="${request.body}" style="white-space: pre-wrap; overflow-wrap: break-word;"></code>
            </div>
        </details>
        <details class="ds-details" data-variant="default">
            <summary>Response frå issuer-server</summary>
            <div>
                <code th:text="${issuance.issuanceResponse}" style="white-space: pre-wrap; overflow-wrap: break-word;"></code>
            </div>
        </details>
    </div>


</main>

<footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>